#if ( $forceHtmlEncode )
#else
	#if ( $title )
		<script type="text/javascript">
			AJS.$("#metadata-viewer-section_heading .toggle-title").html('${title}');
		</script>
	#end
#end
<ul class="item-details">
<li>
#foreach( $labelValue in $labelValues )
	<dl>
		<dt>
			#if ( $forceHtmlEncode )
				$textutils.htmlEncode($labelValue.label)
			#else
				$labelValue.label
			#end
		</dt>
		<dd>
			#if ( $forceHtmlEncode )
				$textutils.htmlEncode($labelValue.value)
			#else
				$labelValue.value
			#end
		</dd>
	</dl>
#end
</li>
</ul>
