<div id="jira-metadata" class="column full">
	<div class="content">
		#set( $metadatas = $metadataService.getMetadata($project))
		#set( $noDataText = $i18n.getText('metadata.page.project.noData'))
		#parse("templates/plugins/jira/metadata/viewMetadataCommon.vm")
		#if ($hasAdminPermission)
			#set( $formActionSaveUrl = 'SaveMetadataProject.jspa' )
			#set( $metadatasEdit = $metadataService.getAllMetadata($project) )
			#set( $metadataDeleteUrl = 'DeleteMetadataProject.jspa' )
			#set( $metadataEditHiddenKey = 'projectKey' )
			#set( $metadataEditHiddenValue = ${project.key} )
			#parse("templates/plugins/jira/metadata/viewMetadataCommonEdit.vm")
		#end
	</div>
</div>