<html>
    <head>
        <title>$i18n.getText('metadata.page.user.title')</title>
        <meta name="decorator" content="atl.admin" />
        <meta content="admin_users_menu/users_groups_section" name="admin.active.section">
        <meta content="user_metadata_browser" name="admin.active.tab">
    </head>
    <body>
#if ($selectedUserObject)
<h1>$i18n.getText('metadata.page.user.title.selecedUser') $selectedUserObject.name</h1>
<div id="jira-metadata" class="column full">
	<div class="content">
	<p>
	$i18n.getText('metadata.page.user.descr.selectedUser')<br/>
	<a href="${req.contextPath}/secure/admin/metadata/UserAction.jspa">$i18n.getText('metadata.page.user.goBack')</a>
	</p>
		#set( $metadatas = $metadataService.getMetadata($selectedUserObject))
		#set( $noDataText = $i18n.getText('metadata.page.user.noData'))
		#parse("templates/plugins/jira/metadata/viewMetadataCommon.vm")
			#set( $formActionSaveUrl = 'SaveMetadataUser.jspa' )
			#set( $metadatasEdit = $metadataService.getAllMetadata($selectedUserObject) )
			#set( $metadataDeleteUrl = 'DeleteMetadataUser.jspa' )
			#set( $metadataEditHiddenKey = 'selectedUser' )
			#set( $metadataEditHiddenValue = ${selectedUser} )
			#parse("templates/plugins/jira/metadata/viewMetadataCommonEdit.vm")
	</div>
</div>
#else
<h1>$i18n.getText('metadata.page.user.title.noSelecedUser')</h1>
<p>
$i18n.getText('metadata.page.user.descr.noSelectedUser')
</p>
<form class="aui top-label" enctype="multipart/form-data" action="${req.contextPath}/secure/admin/metadata/UserAction.jspa" method="post" id="selectUser">
<div class="field-group">
	<label for="selectedUser">$i18n.getText('metadata.page.user.insertName')</label>
	<input type="text" name="selectedUser" id="selectedUser" />
	</div>
	<div class="buttons-container form-footer">
	<div class="buttons">
	<input id="select_user" type="submit" value="$i18n.getText('metadata.page.user.button')" />
	</div>
	</div>
</form>

#end
    </body>
</html>
