#enable_html_escaping()
#if ($metadatas.size() == 0 )
#else
<div id="metadata-user-profile" class="module">
	<div class="mod-header">
		<h3>$i18n.getText('metadata.page.userprofile.title')</h3>
	</div>
	<div class="mod-content">

		<ul class="item-details">
			<li>
				#foreach ($metadata in $metadatas )
				<dl>
					<dt>$metadata.userKey:</dt>
					#set($contentAsHtml = $metadata.userValue )
					<dd>$contentAsHtml</dd>
				</dl>
				#end
			</li>
		</ul>

	</div>
</div>
#end